*{
    padding: 0; 
    margin: 0; 
    box-sizing: border-box; 
    font-family: 'Jost', sans-serif;
    list-style: none; 
    text-decoration: none; 
    scroll-behavior: smooth; 
    scroll-padding-top: 3rem; 
}
:root{
    --main-color: #586a7d;
    --text-color: #0f172a;
    --other-color: #334155; 
    --second-color: #eb4e4e; 
    --bg-color: #ffffff; 
    --big-font: 4.5rem; 
    --h2-font: 2.6em; 
    --p-font: 1.1rem; 
}

@keyframes animate
{ 
    0%, 10%, 100% 
    { 
        width: 0; 
    } 
    23%, 90% 
    { 
        width: 25.69%; 
    } 
}

/* header */
header{
    position: absolute; 
    width: 100%; 
    top: 0; 
    right: 0; 
    z-index: 1000; 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    background: transparent;
    padding: 20px 14%; transition: all .50s ease; 
}
.logo{
    display: flex; 
    align-items: center; 
    color: transparent; 
    font-size: 40px; 
    font-weight: 700; 
    -webkit-text-stroke: 1px #fff; 
    background: url(images/back.png); 
    -webkit-background-clip: text; 
    background-clip: text;
    background-position: 0 0; 
    animation: back 20s linear infinite; 
}
@keyframes back{ 
    100%{ 
        background-position: 2000px 0; 
   } 
}
.logo i{
    vertical-align: middle;
    margin-right: 8px; 
    color: var(--main-color); 
}
.navlist{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navlist a{
    color: var(--bg-color); 
    font-size: var(--p-font);
    font-weight: 600; 
    margin: 0 30px; 
    transition: all .50s ease;
}
.navlist a:hover{
    color: var(--text-color);
}
.navlist a.active{
    color: var(--bg-color);
}
.nav-icon{
    display: flex; 
    align-items: center; 
    padding: 8px 15px; 
    background: var(--main-color); 
    border-radius: 3rem; 
}
.nav-icon i{
    vertical-align: middle; 
    font-size: 25px; 
    color: var(--bg-color); 
    margin-right: 8px; 
    margin-left: 5px; 
    transition: all .50s ease; 
}
#menu-icon{
    font-size: 32px; 
    color: var(--bg-color); 
    z-index: 10001; 
    cursor: pointer; 
    display: none; 
}
.nav-icon i:hover{
    transform: scale(1.1); 
    color: var(--text-color); 
}
#menu-icon{
    font-size: 35px;
    color: #2c2c2c;
    z-index: 10001;
    cursor: pointer;
}
section{
    padding: 5% 10%;
}
/* header */

/* home */
.home{
    background: linear-gradient(rgba(74, 74, 74, 0.6), rgba(74, 74, 74, 0.6)), url(images/contact.jpg) no-repeat;
    background-size: 100rem;
    background-position: bottom;
    background-attachment: fixed;
    color: white;
    height: 50vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

.home h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 3rem;
    text-align: center;
    color: #ffffff;
}

.home p{
    font-size: 1.5rem;
    font-weight: 50%;
    margin-bottom: 3rem;
    text-transform: none;
    color: #ffffff;
}

.main-btn{
    display: inline-block;
    color: #111;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    border: 2px solid #111;
    padding: 12px 25px;
    transition: all .42s ease;
}
.main-btn:hover{
    background-color: #000;
    color: #fff;
}
.main-btn i{
    vertical-align: middle;
}
/* home */

/* contact */
.details {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.details h2{
    font-size: 30px;
    margin: flex;
    line-height: 10px;
    padding: 20px 40px;
}


.details li{
    list-style: none;
    display: flex;
    padding: 10px 40px;
}

.details li i{
    color: #4f72c4;
    font-size: 20px;
    padding-right: 22px;
}

.details li p{
    margin: 0;
    font-size: 20px;
}

/* form */
#form{
    background-color: #ebf4fc;
    display: flex;
    justify-content: space-evenly;
    margin: 30px;
    padding: 80px;
    border: 2px solid #e1e1e1;
}

form {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 40px;
}

form span{
    font-size: 20px;
    padding: 5px 0px;
}

form h2{
    font-size: 30px;
    margin: flex;
    line-height: 10px;
    padding: 20px 0;
}

form input, textarea{
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}

form button{
    display: inline-block;
    color: #111;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    border: 2px solid #111;
    padding: 12px 25px;
    transition: all .42s ease;
}

form button:hover{
    background-color: #000;
    color: #fff;
}

form .people span{
    font-size: large;
}

.people span{
    font-size: 25px;
}

.people p, a{
    font-size: large;
}

/* footer */
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

html {
    background-color: #eaf0f2;
}

footer {
    position: 0;
    bottom: 0;
}

@media (max-height:800px) {
    footer {
        position: static;
    }
}

.footer-distributed {
    background-color: #2d2a30;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* footer left */
.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}


.footer-distributed h3 span {
    color: #e0ac1c;
}

/* Footer links */
.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* footer Center */
.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #e0ac1c;
    text-decoration: none;
    ;
}

/* footer Right */
.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
    background-color: #3F71EA;
}

.footer-links a:hover {
    color: #3F71EA;
}

@media (max-width: 880px) {
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}       
/* footer */

/* loader */
.loader {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999999;
    background-color: var(--white);
}
/* loader */