@import url('https://www.cssfontstack.com/Times-New-Roman');

*{
    padding: 0; 
    margin: 0; 
    box-sizing: border-box; 
    font-family: 'Jost', sans-serif;
    list-style: none; 
    text-decoration: none; 
    scroll-behavior: smooth; 
    scroll-padding-top: 3rem; 
}
:root{
    --main-color: #6699CC;
    --text-color: #0f172a;
    --other-color: #334155; 
    --second-color: #eb4e4e; 
    --bg-color: #ffffff; 
    --big-font: 4.5rem; 
    --h2-font: 2.6em; 
    --p-font: 1.1rem; 
}
h1, h2 { display: inline; }

h2
{ 
    position: relative; 
    font-size: 3.69vw; 
    color: #2a2539; 
}