@keyframes fade-bottom {
    0% {
        transform: translateY(10px); 
        opacity: 0;
    }
    100% {
    transform: translateY();
    opacity: 1;
    }
}

.carousel {
    background-color: var(--flashwhite-color);
    text-align: center;
    margin-bottom: 60px;
}

:is(.carousel) .dot-image .thumbnail {
    position: relative;
    opacity: unset;
}

.dot-title {
    font-family: var (--primary-font);
    font-size: var(--fs14);
    font-weight: var(--fw600);
    line-height: 34px;
}
.dot-title a {
transition: var(--transition-color);
}
.dot-title a:hover,
.dotgrid.product-price.before {
    ---color:-var(--light-color);
}

.dotgrid .wrapper {
    display: var(--display, grid);
    --grid-col: 175px;
    grid-template-columns: repeat (auto-fit, minmax(min(var(--grid-col), 100%), 1fr)); 
    gap: var(--gutter, 30px)
}
.dotgrid .dot-image {
    position: relative;
    margin-bottom: 15px;
    
}
.dotgrid .dot-image > a,
.dotgrid .thumbnail.hover,
.dotgrid .actions,
.dotgrid .dot-image .label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.dotgrid .dot-image > a {
    z-index: 1;
}
.dotgrid .thumbnail.hover {
    opacity: 0;
    transition: opacity .75s ease,
                transform 1.1s cubic-bezier (.15, .75,.5,1) 0s;
    backface-visibility: hidden;
    transform: translateZ(0);
}
.dotgrid .dot-image:hover .thumbnail.hover {
    opacity: 1;
    transform: scale3d (1.1, 1.1, 1.1) translateZ(0);
}
.dotgrid .actions {
    z-index: 2;
    top: auto;
    bottom: 20px;
    transform: translate3d(0,100%,0);
    opacity: 0;
    transition: all .3s cubic-bezier(0,0,.2,1);
}

.dotgrid .actions ul,
.dotgrid .dot-image .label span {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.dotgrid .actions ul li a
.dotgrid .dot-image .label span {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    background-color: var(--white-color);
    border-radius: 50%;
    transition: var(--transition-background), var(--transition-color);
}
.dotgrid .actions ul li a:hover {
    background-color: var(--dark-color);
    color: var(--white-color);
}
.dotgrid .dot-image .label { 
    top: auto;
    bottom: 20px;
}
.dotgrid .dot-image .label span {
    font-size: 12px;
    font-weight: var(--fw600);
    background-color: var(--primary-color);
    color: var(--white-color);
}
.dotgrid .dot-info {
    text-align: center;
}

.dotgrid .product-price .before {
    text-decoration: line-through;
}


.carousel .inner-wrapper {
	position: relative;
}
.carousel .dotgrid .wrapper {
	display: flex;
	grid-template-columns: unset;
	gap: unset;
}
.carousel .nav>div::after {
	content: none;
}
.carousel .nav>div {
	width: 40px;
	height: 40px;
	border: 1px solid var(--grey-color);
	border-radius: 50%;
	color: var(--dark-color);
	font-size: 20px;
	-webkit-tap-highlight-color: transparent;
	transition: var(--transition-background),
	var(--transition-color),
	var(--transition-border);
}
.carousel .nav>div:hover {
	color: var(--white-color);
	background-color: var(--dark-color);
	border-color: var(--dark-color);
}
.carousel .nav .swiper-button-disabled {
	opacity: 0;
}
