:root {

	--red-orange-color-wheel: hsl(17, 96%, 48%);
	--middle-blue-green: hsl(167, 45%, 72%);
	--smokey-black: hsl(0, 0%, 7%);
	--spanish-gray: hsl(0, 0%, 60%);
	--granite-gray: hsl(0, 0%, 40%);
	--tan-crayola: hsl(27, 46%, 58%);
	--light-gray: hsl(0, 0%, 80%);
	--black_10: hsla(0, 0%, 0%, 0.1);
	--black_25: hsla(0, 0%, 0%, 0.25);
	--black_50: hsla(0, 0%, 0%, 0.4);
	--black_70: hsla(0, 0%, 0%, 0.7);
	--cultured: hsl(220, 16%, 96%);
	--manatee: hsl(218, 11%, 65%);
	--black: hsl(0, 0%, 0%);
	--white: hsl(0, 0%, 100%);

	--ff-roboto: 'Roboto', sans-serif;
	--ff-mr_de_haviland: 'Mr De Haviland', cursive;

	

	--shadow: 0 0 2px hsla(0, 0%, 0%, 0.2);

	--transition-1: 0.25s ease;
	--transition-2: 0.5s ease;
	--cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
	--cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);

}

li {
	list-style: none;
}

a,
span,
input,
button,
ion-icon {
	display: block;
}

a {
	color: inherit;
	text-decoration: none;
}


input,
button {
	background: none;
	border: none;
	font: inherit;
}

input {
	width: 100%;
}

button {
	cursor: pointer;
}

ion-icon {
	pointer-events: none;
}

address {
	font-style: normal;
}





::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background-color: hsl(0, 0%, 98%);
}

::-webkit-scrollbar-thumb {
	background-color: hsl(0, 0%, 80%);
}

::-webkit-scrollbar-thumb:hover {
	background-color: hsl(0, 0%, 70%);
}

.grid-list {
	display: grid;
	gap: 35px;
}

.product .section-title {
	text-align: center;
}

.filter-btn-list {
	margin-block: 20px 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.filter-btn-item {
	position: relative;
	display: flex;
}

.filter-btn-item:not(:last-child)::after {
	content: "|";
	margin-inline: 15px;
}

.filter-btn {
	transition: var(--transition-1);
}

.filter-btn.active {
	color: var(--tan-crayola);
}

.product-card {
	text-align: center;
}

.product-card .card-banner::before {
	inset: 0;
	background-color: var(--black_10);
	opacity: 0;
	transition: var(--transition-1);
}

.product-card .card-banner:is(:hover, :focus-within)::before {
	opacity: 1;
}

.product-card .card-action-list {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 100%);
	display: flex;
	gap: 15px;
	opacity: 0;
	transition: var(--transition-2);
}

.product-card .card-banner:is(:hover, :focus-within) .card-action-list {
	transform: translate(-50%, -50%);
	opacity: 1;
}

.product-card .card-action-btn {
	background-color: var(--white);
	font-size: 22px;
	padding: 12px;
	border-radius: 50%;
	transition: var(--transition-1);
}

.product-card .card-action-btn:is(:hover, :focus) {
	color: var(--tan-crayola);
}

.product-card .badge-list {
	position: absolute;
	top: 15px;
	left: 15px;
}

.product-card .badge {
	color: var(--white);
	font-size: var(--fs-5);
	font-weight: var(--fw-500);
	width: 45px;
	height: 45px;
	border-radius: 50%;
	line-height: 45px;
	margin-block-end: 10px;
}

.product-card .badge.orange {
	background-color: var(--red-orange-color-wheel);
}

.product-card .badge.cyan {
	background-color: var(--middle-blue-green);
}

.product-card .card-badge {
	position: absolute;
	top: 15px;
	right: 15px;
	background-color: var(--black);
	color: var(--white);
	font-weight: var(--fw-500);
	padding-inline: 15px;
}

.product-card .h3 {
	font-size: unset;
}

.product-card .card-title {
	color: var(--smokey-black);
	font-weight: var(--fw-500);
	margin-block: 18px 5px;
	transition: var(--transition-1);
}

.product-card .card-title:is(:hover, :focus) {
	color: var(--tan-crayola);
}

.product-card .card-price {
	display: flex;
	justify-content: center;
	gap: 15px;
	color: var(--granite-gray);
	font-size: var(--fs-4);
}

.product-card .card-price .del {
	color: var(--spanish-gray);
}

.product-list>* {
	display: none;
}

.product-list[data-filter="all"]>*,
.product-list[data-filter="shirt"]>.shirt,
.product-list[data-filter="jacket"]>.jacket,
.product-list[data-filter="pants"]>.pants {
	display: block;
	animation: fadeUp 1s ease forwards;
}

@keyframes fadeUp {
	0% {
		opacity: 0;
		transform: translateY(10px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}


@media (min-width: 575px) {

	.container {
		max-width: 575px;
		width: 100%;
		margin-inline: auto;
	}

	.grid-list {
		grid-template-columns: 1fr 1fr;
		column-gap: 25px;
	}

	.grid-list>li:last-child {
		grid-column: span 2;
		max-width: calc(50% - 12.5px);
		width: 100%;
		margin-inline: auto;
	}


	@media (min-width: 768px) {

		.container {
			max-width: 768px;
		}

		.product .title-wrapper {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-block-end: 80px;
		}

		.filter-btn-list {
			margin: 0;
		}

		@media (min-width: 992px) {

			.container {
				max-width: 992px;
			}

			.grid-list>li:last-child {
				all: unset;
			}

			.grid-list {
				grid-template-columns: repeat(3, 1fr);
			}

		}

		@media (min-width: 1200px) {

			:root {

				--fs-2: 3.6rem;

			}

			.container {
				max-width: 1200px;
			}

			.product-list {
				grid-template-columns: repeat(4, 1fr);
			}

		}
  }
}