*{
    padding: 0; 
    margin: 0; 
    box-sizing: border-box; 
    font-family: 'Jost', sans-serif;
    list-style: none; 
    text-decoration: none; 
    scroll-behavior: smooth; 
    scroll-padding-top: 3rem; 
}
:root{
    --main-color: #6699CC;
    --text-color: #0f172a;
    --other-color: #334155; 
    --second-color: #eb4e4e; 
    --bg-color: #ffffff; 
    --big-font: 4.5rem; 
    --h2-font: 2.6em; 
    --p-font: 1.1rem; 
}
body{
    background: var(--bg-color); 
    color: var(--text-color); 
}

h1, h2 { display: inline; }

h2
{ 
    position: relative; 
    font-size: 3.69vw; 
    color: #2a2539; 
    -webkit-text-stroke: 0vw #0f0f0f; 
    text-transform: uppercase; 
} 
h2::before 
{
    content: attr(data-text); 
    position: absolute; 
    top: 0; Left: 0; 
    width: 0; height: 100%; 
    color: #01fe87; 
    -webkit-text-stroke: 0vw #f2f2f7; 
    border-right: 2px solid #01fe87; 
    overflow: hidden; 
    animation: animate 3s linear infinite;
}
@keyframes animate
{ 
    0%, 10%, 100% 
    { 
        width: 0; 
    } 
    70%, 90% 
    { 
        width: 100%; 
    } 
}

header{
    position: fixed; 
    width: 100%; 
    top: 0; 
    right: 0; 
    z-index: 1000; 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    background: transparent; 
    padding: 30px 14%; transition: all .50s ease; 
}
.logo{
    display: flex; 
    align-items: center; 
    color: transparent; 
    font-size: 40px; 
    font-weight: 700; 
    -webkit-text-stroke: 1px #fff; 
    background: url(images/back.png); 
    -webkit-background-clip: text; 
    background-clip: text;
    background-position: 0 0; 
    animation: back 20s linear infinite; 
}
@keyframes back{ 
    100%{ 
        background-position: 2000px 0; 
   } 
}
.logo i{
    vertical-align: middle;
    margin-right: 8px; 
    color: var(--main-color); 
}
.navlist{
    display: flex;
    align-items: center;
}
.navlist a{
    color: var(--bg-color); 
    font-size: var(--p-font);
    font-weight: 600; 
    margin: 0 30px; 
    transition: all .50s ease;
}
.navlist a:hover{
    color: var(--text-color);
}
.navlist a.active{
    color: var(--bg-color);
}
.nav-icon{
    display: flex; 
    align-items: center; 
    padding: 8px 15px; 
    background: var(--main-color); 
    border-radius: 3rem; 
}
.nav-icon i{
    vertical-align: middle; 
    font-size: 25px; 
    color: var(--bg-color); 
    margin-right: 8px; 
    margin-left: 5px; 
    transition: all .50s ease; 
}
#menu-icon{
    font-size: 32px; 
    color: var(--bg-color); 
    z-index: 10001; 
    cursor: pointer; 
    display: none; 
}
.nav-icon i:hover{
    transform: scale(1.1); 
    color: var(--text-color); 
}
#menu-icon{
    font-size: 35px;
    color: #2c2c2c;
    z-index: 10001;
    cursor: pointer;
}
section{
    padding: 5% 10%;
}
.home{
    width: 100%;
    height: 100vh;
    background-image: url(images/done5.png);
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
}
.main-text h5{
    color: #FF0000;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 600;
}
.main-text h1{
    color: #000;
    font-size: 65px;
    text-transform: capitalize;
    line-height: 1.1;
    font-weight: 600;
    margin: 6px 0 10px;
}
.main-text p{
    color: #3a3b3b;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 20px;
}
.main-btn{
    display: inline-block;
    color: #111;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    border: 2px solid #111;
    padding: 12px 25px;
    transition: all .42s ease;
}
.main-btn:hover{
    background-color: #000;
    color: #fff;
}
.main-btn i{
    vertical-align: middle;
}
.down-arrow{
    position: absolute;
    top: 85%;
    right: 11%;
}
.down i{
    font-size: 30px;
    color: #2c2c2c;
    border: 2px solid #2c2c2c;
    border-radius: 50px;
    padding: 12px 12px;
}
.down i:hover{
    background-color: #2c2c2c;
    color: #fff;
    transition: all .42s ease;
}
header.sticky{
    background: #fff;
    padding: 20px 10%;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
}