*{
    padding: 0; 
    margin: 0; 
    box-sizing: border-box; 
    font-family: 'Jost', sans-serif;
    list-style: none; 
    text-decoration: none; 
    scroll-behavior: smooth; 
    scroll-padding-top: 3rem; 
}
:root{
    --main-color: #6699CC;
    --text-color: #0f172a;
    --other-color: #334155; 
    --second-color: #eb4e4e; 
    --bg-color: #ffffff; 
    --big-font: 4.5rem; 
    --h2-font: 2.6em; 
    --p-font: 1.1rem; 
}
body{
    background: var(--bg-color); 
    color: var(--text-color); 
}

h1, h2 { display: inline; }

h2
{ 
    position: relative; 
    font-size: 3.69vw; 
    color: #2a2539; 
}

h5
{ 
    position: relative; 
    font-size: 3.69vw; 
    color: #2a2539; 
    -webkit-text-stroke: 0vw #0f0f0f; 
    text-transform: uppercase; 
} 
h5::before 
{
    content: attr(data-text); 
    position: absolute; 
    top: 0; Left: 0; 
    width: 0; height: 100%; 
    color: #01fe87; 
    -webkit-text-stroke: 0vw #f2f2f7; 
    border-right: 2px solid #01fe87; 
    overflow: hidden; 
    animation: animate 2.69s linear infinite;
}
@keyframes animate
{ 
    0%, 10%, 100% 
    { 
        width: 0; 
    } 
    23%, 90% 
    { 
        width: 25.69%; 
    } 
}

/* header */
header{
    position: absolute; 
    width: 100%; 
    top: 0; 
    right: 0; 
    z-index: 1000; 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    background: transparent;
    padding: 20px 14%; transition: all .50s ease; 
}
.logo{
    display: flex; 
    align-items: center; 
    color: transparent; 
    font-size: 40px; 
    font-weight: 700; 
    -webkit-text-stroke: 1px #fff; 
    background: url(images/back.png); 
    -webkit-background-clip: text; 
    background-clip: text;
    background-position: 0 0; 
    animation: back 20s linear infinite; 
}
@keyframes back{ 
    100%{ 
        background-position: 2000px 0; 
   } 
}
.logo i{
    vertical-align: middle;
    margin-right: 8px; 
    color: var(--main-color); 
}
.navlist{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navlist a{
    color: var(--bg-color); 
    font-size: var(--p-font);
    font-weight: 600; 
    margin: 0 30px; 
    transition: all .50s ease;
}
.navlist a:hover{
    color: var(--text-color);
}
.navlist a.active{
    color: var(--bg-color);
}
.nav-icon{
    display: flex; 
    align-items: center; 
    padding: 8px 15px; 
    background: var(--main-color); 
    border-radius: 3rem; 
}
.nav-icon i{
    vertical-align: middle; 
    font-size: 25px; 
    color: var(--bg-color); 
    margin-right: 8px; 
    margin-left: 5px; 
    transition: all .50s ease; 
}
#menu-icon{
    font-size: 32px; 
    color: var(--bg-color); 
    z-index: 10001; 
    cursor: pointer; 
    display: none; 
}
.nav-icon i:hover{
    transform: scale(1.1); 
    color: var(--text-color); 
}
#menu-icon{
    font-size: 35px;
    color: #2c2c2c;
    z-index: 10001;
    cursor: pointer;
}
section{
    padding: 5% 10%;
}
/* header */

/* home */
.home{
    width: 100%;
    height: 100vh;
    background-image: url(images/done5.png);
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
}
.main-text h5{
    color: #FF0000;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 600;
}
.main-text h1{
    color: #000;
    font-size: 65px;
    text-transform: capitalize;
    line-height: 1.1;
    font-weight: 600;
    margin: 6px 0 10px;
}
.main-text p{
    color: #3a3b3b;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 20px;
}
.main-btn{
    display: inline-block;
    color: #111;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    border: 2px solid #111;
    padding: 12px 25px;
    transition: all .42s ease;
}
.main-btn:hover{
    background-color: #000;
    color: #fff;
}
.main-btn i{
    vertical-align: middle;
}
/* home */

/* about */
.about .box-container .box img {
    width: 105%;
    height: 105%;
    object-fit: cover;
  }
  
.about .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
}
.about .box-container .box p {
    font-size: 1.1rem;
    line-height: 1.8;
    margin-bottom: 1.5rem;
    letter-spacing: 0.1rem;
    color: var(--gray);
    text-overflow: none;
}
/* about */

/* facility */
.facility {
  background-color: var(--grey-alt);
  padding: 6rem 0;
}

.facility-contianer {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(6, 1fr);
}

.facility-icon {
  text-align: center;
}

.facility-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.facility-icon {
  position: relative;
  display: inline-block;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  border: 1.5px solid var(--white);
  z-index: 1;
  margin-bottom: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.facility-icon::before {
  content: "";
  position: absolute;
  display: inline-block;
  border-radius: 50%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0.7rem;
  background-color: var(--white);
  z-index: -1;
}

.facility-icon i {
  font-size: 2rem;
  transition: all 500ms ease-in-out;
}

.facility-box:hover i {
  transform: rotateY(180deg);
}

@media only screen and (max-width: 998px) {
  .facility-contianer {
    grid-template-columns: 1fr 1fr;
    row-gap: 3rem;
  }
}

@media only screen and (max-width: 568px) {
  .facility-contianer {
    grid-template-columns: 1fr;
  }

  .facility-icon {
    width: 7rem;
    height: 7rem;
    line-height: 8.5rem;
  }

  .facility-contianer p {
    font-size: 1.4rem;
  }
}
/* facility */

/* reviews */

/* reviews */

/* footer */
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

html {
    background-color: #eaf0f2;
}

footer {
    position: 0;
    bottom: 0;
}

@media (max-height:800px) {
    footer {
        position: static;
    }
}

.footer-distributed {
    background-color: #2d2a30;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* footer left */

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}


.footer-distributed h3 span {
    color: #e0ac1c;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #e0ac1c;
    text-decoration: none;
    ;
}

/* ooter Right */

.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
    background-color: #3F71EA;
}

.footer-links a:hover {
    color: #3F71EA;
}

@media (max-width: 880px) {
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}       
/* footer */

/* loader */
.loader {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999999;
    background-color: var(--white);
}
/* loader */